---
import MainLayout from "../layouts/MainLayout.astro"
import data from "../data/data.json"

const baseURL = import.meta.env.BASE_URL;
---

<MainLayout title="Trainer Personality Test">

	<h1 class="title">Trainer Personality Test</h1>
	<p>This test determines that kind of trainer you are based on what your favorite Umamusume are. You can select up to 10 favorite Umamusume.</p>
	<div class="toolbar">
		<svg xmlns="http://w3.org" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="search-icon">
			<circle cx="11" cy="11" r="8"></circle>
			<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
		</svg>

		<input type="search" name="search" id="search" placeholder="Search...">
	</div>

	<div class="character-grid">
		{
			data.map((uma, index) => (
				<label for={uma.id} class="character-card" data-name={uma.id} data-search={uma.search_names}>
					<input type="checkbox" name={uma.id} id={uma.id} value={index} class="character-checkbox">

					<div class="card-content">
						<img src=`${baseURL}/images/characters/x300/${uma.id}.png` alt={uma.name} loading="lazy" class="character-img" draggable="false">
						<p class="character-name">{uma.name}</p>
					</div>
				</label>
			))
		}
	</div>

	<button id="submit" class="hidden">
		Submit - 0 selected
	</button>

	<script>
		// Global
		const baseURL = document.getElementById("url")?.dataset.url;
		const cardList = document.querySelectorAll(".character-card")  as NodeListOf<HTMLElement>;
		const allCheckboxes = document.querySelectorAll('.character-checkbox') as NodeListOf<HTMLInputElement>;

		// Search
		const searchbar = document.getElementById("search") as HTMLInputElement;

		searchbar?.addEventListener('input', () => {

			let search = searchbar.value.toLowerCase().replace(/[^a-z0-9]/g, '');

			cardList.forEach((card) => {
				if (card.dataset.name!.includes(search) ||
					card.dataset.search!.includes(search)) {
					card.classList.remove("hidden");
				} else {
					card.classList.add("hidden");
				}
			});
		});

		// Submit
		const cardGrid = document.querySelector(".character-grid") as HTMLElement;
		const submit = document.getElementById("submit") as HTMLElement;

		const MAX_SELECTIONS = 10;

		submit.addEventListener('click', () => {
			const selected = Array.from(allCheckboxes)
					.filter(box => box.checked)
					.map(box => Number(box.value));
			const payload = encodeSelection(selected);
			window.location.href = `${baseURL}/result?s=${payload}`;
		});

		cardGrid.addEventListener('change', () => {

			const checkedCount = document.querySelectorAll('.character-checkbox:checked').length;

			// Update selected count
			submit.textContent = "Submit - " + checkedCount + " selected";
			if (checkedCount > 0) {
				submit.classList.remove("hidden");
			} else {
				submit.classList.add("hidden");
			}

			// Lock if past max selections
			if (checkedCount >= MAX_SELECTIONS) {
				allCheckboxes.forEach(box => {
					if (!box.checked) {
						box.disabled = true;
					}
				});
			} 
			else {
				allCheckboxes.forEach(box => {
					box.disabled = false;
				});
			}
		});

		// Encoding
		function encodeSelection(selectedIndices: number[]): string {
			// Convert to bytes
			const bytes = new Uint8Array(selectedIndices); 

			// Convert to binary string
			let binaryStr = '';
			bytes.forEach(b => binaryStr += String.fromCharCode(b));

			// Encode to Base64url
			return btoa(binaryStr)
				.replace(/\+/g, '-') 
				.replace(/\//g, '_') 
				.replace(/=+$/, ''); 
		}
	</script>
</MainLayout>
